 *{
     margin: 0;
     padding: 0;
 }

 .center-div{
     position: absolute;
     top:50%;
     left: 50%;
     transform:translate(-50%, -50%);
 }

 .heading{
     width:100%;
     line-height: 80%;
     font-size: 1.4 rem;
     background-color: -webkit-linear-gradient(left, #0072ff, #8811c5);
 }
 form{
     width:400px;
 }